/*diseño flexiblecon flexbox */

*{
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.contenedor{
    display: flex;

}

.contenedor nav ul li{
    display: inline;
    padding-right: 15px;


}
.contenedor nav a{
    text-decoration: none;

}
.contenedor nav a:hover{
    color:rgb(238, 136, 184);
}

.contenedor .cabecera{
    padding-top: 100px;
    min-height: 450px;
    background-image: url("../imagenes/imagen4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(0, 0, 0);
    font-size: 1.5em;
    opacity: 30;
    text-align: center;
    
}

.main, .izq, .derecho{
    border-bottom: 1px silver solid;
    font-family: 'Cookie';
}




p{
    margin: 5px;
    padding: 20px;
    font-size: 0.9em;





}

/*debemos aplicar una regla para que el contenedor se adapte al dispositivo (media query) */


@media (max-width:600px){


    div, .cabecera{

        display: flex;
        flex-direction: column;
    }
    
}



